/* 
선택자(selector) - "h1"
속성(property) - "color"
값(value) - "yellow"
선언(declaration) - "color: yellow", "font-size: 2em"
선언부(declaration block) - "{ color: yellow; font-size:2em; }"
규칙(rule set) - "h1 { color: yellow; font-size:2em; }" 
*/

/* [올바른 CSS] */
h1
{ color: yellow; font-size:2em; }

h1 {
    color: yellow;
    font-size:2em;
}

/* [잘못된 CSS] */
/* 
h1 {
    color:
    yellow;
} */